<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Roboto:wght@500;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/results.css" />


  <!-- External Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>

</head>

<body>
  <header>
    <%- include('./partials/header', {user}) %>
  </header>
  <section class="section">
    <% if (results.length !== 0 ){ %>
      <h1><%= (results[0].user) ? results[0].title : 'My Results '%></h1>
      <div class="result-container">
        <% for (const result of results) { %>
          <div class="text-box1">
            <% if (result.user) { %>
              <i class="fa-solid fa-user fa-xl"> Player: <%=result.user%></i>
              <% } else { %>
                <img class="thumbnail-image-result"src=<%= result.thumbnail_url %>>
                <p> Title: <%=result.title %> </p>
                <div class="share-link">
                  <i class="fa-solid fa-share-from-square"></i>
                  <button class="social-media"
                    onclick="window.open('https://facebook.com/sharer/sharer.php?href={www.google.com}&p[Quiz Light App]={Check out my score <%= result.score %> on this quiz <%= result.title %>}')"> Facebook</button>
                  <button class="social-media"
                    onclick="window.open('mailto:?subject=Quiz Light | <%= result.title %> &body=Check out my score <%= result.score %> on this quiz on Quiz Light App!%>')">
                    Email</button>
                  <button class="social-media"
                    onclick="window.open('whatsapp://send?text=Check out my score <%= result.score %> on this quiz <%= result.title %> on Quiz Light')">
                    Whatsapp</button>
                  <button class="social-media"
                    onclick="window.open('https://twitter.com/share?url=&text=Check out my score <%= result.score %> on this quiz <%= result.title %> &hashtags=QuizLight')">
                    Twitter</button>
                  <button class="social-media"
                  onclick="window.open('sms:?&body=Check out my score <%= result.score %> on this quiz <%= result.title %> on Quiz Light%>')">Text</button>
                </div>
                <% } %>
                <p class="result">Result: <%=result.score%></p>
              </div>
              <% } %>
      </div>
      <% } else { %>
      <h3> There are no attempted quizzes to display...</h3>
      <% } %>
</section>
</body>

</html>
