<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Light | Create Quiz</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/create-quiz.css" />
  <link rel="stylesheet" href="/styles/header.css" />


  <!-- External Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- App Scripts -->
  <script defer src="/scripts/create-quiz.js"></script>
</head>

<body>
  <!-- Nav Bar -->
  <header>
    <%- include('./partials/header', {user}) %>
  </header>

  <!-- Header -->
  <main class="container">
    <h1>Create Quiz</h1>
    <!-- Create Quiz Form -->
    <div class="main-box">
      <form class="" method="POST" action="/new">

        <!-- Initial Info -->
        <fieldset class="init-vals">
          <div class="title">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" required><br>
          </div>
          <div class="subject">
            <label for="subject">Subject:</label><br>
            <select name="subject" id="subject">
              <option value="education">Educational</option>
              <option value="survey">Survey</option>
              <option value="trivia">Trivia</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="thumbnail">
            <label for="thumbnail_url">Cover Photo URL:</label><br>
            <input type="text" id="thumbnail_url" name="thumbnail_url" required><br>
          </div>
          <div class="public">
            <label for="public">Public? Y/N:</label><br>
            <select name="public" id="public">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </fieldset>

        <!-- Questions -->
        <% for (let i=1; i <= 4; i++) { %>
          <fieldset class="q">
            <div>
              <label for="q<%= i %>">Question <%= i %>:</label><br>
              <textarea class="question-box" type="text" id="q<%= i %>" name="q<%= i %>" required></textarea>
            </div>
            <section class="answers">
              <div class="div-section">
                <label for="q<%= i %>a">
                  <%= i %>:
                </label><br>
                <textarea class="text" type="text" id="q<%= i %>a" name="q<%= i %>a" required></textarea>
              </div>
              <div class="div-section">
                <label for="q<%= i %>b">2:</label><br>
                <textarea class="text" type="text" id="q<%= i %>b" name="q<%= i %>b" required></textarea>
              </div>
              <div class="div-section">
                <label for="q<%= i %>c">3:</label><br>
                <textarea class="text" type="text" id="q<%= i %>c" name="q<%= i %>c" required></textarea>
              </div>
              <div class="div-section">
                <label for="q<%= i %>d">4:</label><br>
                <textarea class="text" type="text" id="q<%= i %>d" name="q<%= i %>d" required></textarea>
              </div>
            </section>
            <div>
              <label for="q<%= i %>-corr-ans">Correct Answer:</label><br>
              <select class="question" name="question-<%= i %>" id="question-<%= i %>">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>

          </fieldset>
          <% } %>

            <!-- Submit/Canel Quiz -->
            <section class="all-buttons">
              <div class="question-options">
                <button class="add-question" type="button">Add Question</button>
                <button class="rem-question" type="button">Remove Question</button>
              </div>
              <input class="create-quiz" type="submit" value="Create Quiz">
              <a href="/myquizzes">Cancel</a>
            </section>
      </form>
    </div>
    </div>
  </main>
</body>

</html>
