<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Light | Create Quiz</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/create-quiz.css" />
  <link rel="stylesheet" href="/styles/header.css" />


  <!-- External Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- App Scripts -->
  <script defer src="/scripts/create-quiz.js"></script>
</head>

<body>
  <!-- Nav Bar -->
  <header>
    <%- include('./partials/header', {user}) %>
  </header>

  <!-- Header -->
  <main class="container">
    <h1>Create Quiz</h1>
    <!-- Create Quiz Form -->
    <div class="main-box">
      <form class="" method="POST" action="/edit/<%= myQuiz[0].quiz_id %>">

        <!-- Initial Info -->
        <fieldset class="init-vals">
          <div class="title">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" value="<%= myQuiz[0].title %>" required><br>
          </div>
          <div class="subject">
            <label for="subject">Subject:</label><br>
            <select name="subject" id="subject">
              <option value="education">Educational</option>
              <option value="survey" <%=(myQuiz[0].type==="survey" ) ? selected="selected" : true %>>Survey</option>
              <option value="trivia" <%=(myQuiz[0].type==="trivia" ) ? selected="selected" : true %> : true %>>Trivia
              </option>
              <option value="other" <%=(myQuiz[0].type==="other" ) ? selected="selected" : true %> : true %>>Other
              </option>
            </select>
          </div>
          <div class="thumbnail">
            <label for="thumbnail_url">Cover Photo URL:</label><br>
            <input type="text" id="thumbnail_url" name="thumbnail_url" value="<%= myQuiz[0].thumbnail_url %>"
              required><br>
          </div>
          <div class="public">
            <label for="public">Public? Y/N:</label><br>
            <select name="public" id="public">
              <option value="true">Yes</option>
              <option value="false" <%=(!myQuiz[0].public) ? selected="selected" : true %>>No</option>
            </select>
          </div>
        </fieldset>

        <!-- Questions -->
        <% for (let i=0; i < myQuiz.length; i++) { %>
          <fieldset class="q" id="<%= myQuiz[i].id %>">
            <input type="text" id="id" name="qId<%= i+1 %>" value="<%= myQuiz[i].id %>">
            <div>
              <label for="q<%= i+1 %>">Question <%= i+1 %>:</label><br>
              <textarea class="question-box" type="text" id="q<%= i+1 %>" name="q<%= i+1 %>"
                required><%= myQuiz[i].description %></textarea>
            </div>
            <section class="answers">
              <div class="div-section">
                <label for="q<%= i+1 %>a">
                  <%= i+1 %>:
                </label><br>
                <textarea class="text" type="text" id="q<%= i+1 %>a" name="q<%= i+1 %>a"
                  required><%= myQuiz[i].answer_one %></textarea>
              </div>
              <div class="div-section">
                <label for="q<%= i+1 %>b">2:</label><br>
                <textarea class="text" type="text" id="q<%= i+1 %>b" name="q<%= i+1 %>b"
                  required><%= myQuiz[i].answer_two %></textarea>
              </div>
              <div class="div-section">
                <label for="q<%= i+1 %>c">3:</label><br>
                <textarea class="text" type="text" id="q<%= i+1 %>c" name="q<%= i+1 %>c"
                  required><%= myQuiz[i].answer_three %></textarea>
              </div>
              <div class="div-section">
                <label for="q<%= i+1 %>d">4:</label><br>
                <textarea class="text" type="text" id="q<%= i+1 %>d" name="q<%= i+1 %>d"
                  required><%= myQuiz[i].answer_four %></textarea>
              </div>
            </section>
            <div>
              <label for="q<%= i+1 %>-corr-ans">Correct Answer:</label><br>
              <select class="question" name="question-<%= i+1 %>" id="question-<%= i+1 %>">
                <option value="1">1</option>
                <option value="2" <%=(myQuiz[i].correct_answer===2) ? selected="selected" : true %>>2</option>
                <option value="3" <%=(myQuiz[i].correct_answer===3) ? selected="selected" : true %>>3</option>
                <option value="4" <%=(myQuiz[i].correct_answer===4) ? selected="selected" : true %>>4</option>
              </select>
            </div>

          </fieldset>
          <% } %>

            <!-- Submit/Canel Quiz -->
            <section class="all-buttons">
              <div class="question-options">
                <button class="add-question">Add Question</button>
                <button class="rem-question">Remove Question</button>
              </div>
              <input class="create-quiz" type="submit" value="Done">
              <a href="/myquizzes">Cancel</a>
            </section>
      </form>
    </div>
  </main>
</body>

</html>
