<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <!-- External Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <!-- Nav Bar -->
  <header>
    <%- include('./partials/header', {user}) %>
  </header>

  <!-- Quizzes -->
  <% for (let id in quizzes) { %>
    <div class="container">
      <p id="quizId">
        <%= quizzes[id].id %>
      </p><br />
      <%= quizzes[id].title %><br />
        <%= quizzes[id].thumbnail_url %><br />
          <%= quizzes[id].average_rating %><br />
            <a href="https://facebook.com/sharer/sharer.php?u=http://localhost:8080/quiz/<%= quizzes[id].id %>
          ">Facebook</a>
            <a
              href="https://twitter.com/share?url=http://localhost:8080/quiz/<%= quizzes[id].id %>&text=Check out this quiz&hashtags=quiz">Twitter</a>
            <a
              href="mailto:{to}?subject=Quiz&body=http://localhost:8080/quiz/<%= quizzes[id].id %>">Email</a>
            <a
              href="whatsapp://send?text=http://localhost:8080/quiz/<%= quizzes[id].id %>%20{text}">Whatsapp</a>

            <form action="/<%= quizzes[id].id %>" method="POST">

              <button>Start Quiz!</button>
            </form>
    </div>
    <% } %>
</body>

</html>
