<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <!-- External Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <!-- Nav Bar -->
  <%- include('partials/header') %>

  <!-- Quizzes -->
  <% for (let id in quizzes) { %>
    <div class="container">
      <p id="quizId"><%= quizzes[id].id %></p><br/>
      <%= quizzes[id].title %><br/>
      <%= quizzes[id].thumbnail_url %><br/>
      <%= quizzes[id].average_rating %><br/>
      <form action="/" method="POST">
      <button>Start Quiz!</button>
      </form>
    </div>
    <% } %>
</body>

</html>
