<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Roboto:wght@500;900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/quiz.css" />
  <link rel="stylesheet" href="/styles/register.css" />
  <link rel="stylesheet" href="/styles/quizzes.css" />

  <!-- External Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- App Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="scripts/quizzes.js"></script>
</head>

<body>
  <header>
    <%- include('./partials/header', {user})%>
  </header>

  <main class="container">
    <h1>My Quizzes</h1>
    <section class="section-container">

      <div class="item-header">
        <h2 id="toggle">
          Public
        </h2>
      </div>
      <div class="quizbox-public">
        <% for (let id in publicQuizzes) { %>

          <div class="my-item">
            <img class="thumbnail-image" src=<%=publicQuizzes[id].thumbnail_url %>><br />
            <!-- Click on quiz to see all results -->
            <div class="quizbox-1">
              <div class="item-body">
                <%= publicQuizzes[id].title %>
              </div>

              <div class="buttons">
                <!-- See all results -->
                <form action="/allresults/<%= publicQuizzes[id].id %>" method="GET">
                  <button class="divButton">See All Results</button>
                </form>

                <!-- Edit the quiz -->
                <form action="/edit/<%= publicQuizzes[id].id %>" method="GET">
                  <button class="divButton">Edit</button>
                </form>

                <!-- Delete the quiz -->
                <form action="/myQuizzes/<%= publicQuizzes[id].id %>" method="POST">
                  <button class="divButton" type="submit">Delete</button>
                </form>
              </div>
            </div>

          </div>
          <% } %>
      </div>
    </section>
    <section>

      <div class="item-header">
        <h2 id="toggle">
          Private
        </h2>
      </div>
      <div class="quizbox-public">
        <% for (let id in privateQuizzes) { %>

          <div class="my-item">
            <!-- Click on quiz to see all results -->
            <div class="quizbox-1" style="background-image: <%= privateQuizzes[id].thumbnail_url %>;">
              <div class="item-body">
                <%= privateQuizzes[id].title %>
              </div>

              <div class="buttons">
                <!-- See all results -->
                <form action="/allresults/<%= privateQuizzes[id].id %>" method="GET">
                  <button class="divButton">See All Results</button>
                </form>

                <!-- Edit the quiz -->
                <form action="/edit/<%= privateQuizzes[id].id %>" method="GET">
                  <button class="divButton">Edit</button>
                </form>

                <!-- Delete the quiz -->
                <form action="/myquizzes/<%= privateQuizzes[id].id %>" method="POST">
                  <button class="divButton" type="submit">Delete</button>
                </form>
              </div>
            </div>

          </div>
          <% } %>
      </div>
    </section>
  </main>
</body>

</html>