<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Light | Quiz</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Roboto:wght@500;900&display=swap"
    rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/quiz-id.css" />

  <!-- External Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- App Scripts -->
  <script defer src="/scripts/quiz-id.js"></script>
</head>

<body>
  <header>
    <%- include('./partials/header', {user}) %>
  </header>

  <main class="container">
    <section class="quiz-info">
      <img src="<%= quiz[0].thumbnail_url %>">
      <h3>
        <%= quiz[0].title %>
      </h3>
      <p>
        <%= quiz[0].type.charAt(0).toUpperCase() + quiz[0].type.slice(1) %>
      </p>
    </section>

    <section class="quiz-questions">
      <h3>Questions</h3>
      <div class="question-card">
        <% for (const exam of quiz) { %>
          <div class="q-card">
            <div class="questions" id="<%= exam.question_id %>">
              <%= exam.description %>
            </div>
            <div id="answer-buttons" class="btn-grid">
              <div><input type="radio" name="question_<%= exam.question_id %>" id="answer_1_<%= exam.question_id %>"
                  value="1" /><label for="answer_1_<%= exam.question_id %>" class="btn">1. <%= exam.answer_one %>
                </label></div>
              <div><input type="radio" name="question_<%= exam.question_id %>" id="answer_2_<%= exam.question_id %>"
                  value="2" /><label for="answer_2_<%= exam.question_id %>" class="btn">2. <%= exam.answer_two %>
                </label></div>
              <div><input type="radio" name="question_<%= exam.question_id %>" id="answer_3_<%= exam.question_id %>"
                  value="3" /><label for="answer_3_<%= exam.question_id %>" class="btn">3. <%= exam.answer_three %>
                </label></div>
              <div><input type="radio" name="question_<%= exam.question_id %>" id="answer_4_<%= exam.question_id %>"
                  value="4" /><label for="answer_4_<%= exam.question_id %>" class="btn">4. <%= exam.answer_four %>
                </label></div>
            </div>
          </div>
          <% } %>
      </div>
      <form method="POST" action="/quiz">
        <button id="submit-btn" class="submit-btn" type="submit">Submit</button>
      </form>
    </section>

  </main>
</body>

</html>
