<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />



  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Roboto:wght@500;900&display=swap"
    rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/quiz.css" />
  <link rel="stylesheet" href="/styles/register.css" />
  <link rel="stylesheet" href="/styles/quizzes.css" />

  <!-- External Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- App Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="scripts/quizzes.js"></script>
</head>

<body>
  <header>
    <%- include('./partials/header', {user})%>
  </header>

  <main>
    <% for (let id in myQuizzes) { %>
      <div class="my-item">
        <div class="item-header">
          <h2 id="toggle">
            <%= (myQuizzes[id].public) ? 'Public' : 'Private' %>
          </h2>
          <!-- Click on quiz to see all results -->
          <div class=<%=(myQuizzes[id].public) ? "quizbox-1" : "quizbox-2" %>>
            <div class="item-body">
              <%= myQuizzes[id].title %>
            </div>
            <!-- See all results -->
            <form action="/allresults/<%= myQuizzes[id].id %>" method="GET">
              <button class="divButton">See All Results</button>
            </form>

            <!-- Edit the quiz -->
            <form action="/edit/<%= myQuizzes[id].id %>" method="GET">
              <button class="divButton">Edit</button>
            </form>

            <!-- Delete the quiz -->
            <form action="/myquizzes/<%= myQuizzes[id].id %>" method="POST">
              <button class="deleteButton" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <% } %>
  </main>
</body>

</html>
